<h1> List of All Articles </h1>

<table>

<tr>
<th>Name</th>
<th>Description</th>
<th>Created By</th>
<th>Categories</th>
<th>Show</th>
<% if user_signed_in?%><th>Edit</th>
<th>Delete</th><%end%>
</tr>

<% @articles.each do |a|%>
<tr>
<td><%= a.name %></td>
<td><%= a.description %></td>
<th><%= a.user.name %></th>
<th> <% a.categories.each do |c|%> <%= c.name %>  <%end%> </th>
<td><%= link_to "Show" , article_path(a.id)%></td>
<%if user_signed_in? and (current_user.id == a.user_id || current_user.admin?)%>
<td><%= link_to "Edit" , edit_article_path(a.id)%></td>
<td><%= link_to "delete" , article_path(a.id) , data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
                  <%end%>
</tr>
<%end%>

 </table>
 <%= link_to "Back" , :back%>